* {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}
header {
    text-align: center;
    background-image: linear-gradient(rgba(255,255,255,0.05), rgba(255,255,255,0.05)), url(/images/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    padding: 200px 0;
    max-width: 1500px;
}
header h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
}
header h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 144px;
}
header h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 40px;
}
header a {
    background-color: #FFFFFF;
    padding: 16px 32px;
    text-decoration:  none;
    color: #272044;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
header a:hover {
    color: #FFFFFF;
    background-color: #272044;
    transition: all 200ms ease-in-out;
}
@media (max-width: 850px) {
    header {
        padding: 40px 0;
    }
    header h3 {
        font-size: 12px;
    }
    header h1 {
        font-size: 36px;
        line-height: 78px;
    }
    header h2 {
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    header a {
    padding: 8px 16px;
    font-size: 12px;
}
}