* {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    max-width: 1500px;
}
header {
    text-align: center;
    background-image: linear-gradient(rgba(255,255,255,0.09), rgba(255,255,255,0.09)), url(/images/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    padding: 200px 0;
}
header h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
}
header h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 144px;
}
header h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 40px;
}
header a,
main section.brno-cafes div.cards figure figcaption a {
    display: block;
    background-color: #FFFFFF;
    padding: 16px 32px;
    width: 10%;
    text-decoration:  none;
    color: rgb(25, 25, 34);
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
header a:hover,
main section.brno-cafes div.cards figure figcaption a:hover {
    color: #FFFFFF;
    background-color: rgb(25, 25, 34);
    transition: all 200ms ease-in-out;
}
main section {
    padding: 100px 170px;
}
main section.brno-history {
    background-color: rgb(25, 25, 34);
    color: white;
}
main section.brno-history figure {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}
main section.brno-history figure figcaption h3 {
    line-height: 21px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    opacity: 0.6;
}
main section.brno-history figure figcaption h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
}
main section.brno-history figure figcaption p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
}
main section.brno-history img {
    width: 570px;
}
main section.brno-cafes {
    text-align: center;
    background-color: rgb(34, 34, 48);
    color: white;
    padding: 100px 140px;
}
main section.brno-cafes h3{
    opacity: 0.5;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}
main section.brno-cafes div.cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    text-align: start;
}
main section.brno-cafes div.cards figure{
    margin: 0;
    background-color: rgb(57, 57, 80);
}
main section.brno-cafes div.cards figure img{
    width: 185px;
    width: 100%;
    height: auto;
}
main section.brno-cafes div.cards figure figcaption{
    padding: 30px;
}
main section.brno-cafes div.cards figure figcaption h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin: 10px 0;
}
main section.brno-cafes div.cards figure figcaption p{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.7;
    margin-bottom: 10px;
}
main section.brno-cafes div.cards figure figcaption h5{
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    margin: 10px 0;
}
main section.brno-cafes div.cards figure figcaption a {
    margin: 20px auto 0;
    text-align: center;
    width: 80%;
}
.card-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.embed {
    width: 100%;
    aspect-ratio: 1 / 1;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(/images/footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    padding: 100px 0;
}
footer h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    margin-bottom: 20px;
}
footer ul {
    padding: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}
li {
    list-style: none;
    margin-bottom: 10px;
}
li a {
    text-decoration: none;
    color: white;
}
@media (max-width: 1000px) {
    header {
        padding: 40px 0;
    }
    header h3,
    main section.brno-history figure figcaption h3,
    main section.brno-history figure figcaption p {
        font-size: 12px;
    }
    header h1 {
        font-size: 36px;
        line-height: 78px;
    }
    header h2,
    main section.brno-history figure figcaption h2 {
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    header a {
        padding: 8px 16px;
        font-size: 12px;
    }
    main section.brno-history {
        padding: 10px;
        text-align: center;        
    }
    main section.brno-history figure {
        grid-template-columns: 1fr;
    }
    main section.brno-history img {
        display: none;
    }
    main section.brno-cafes {
        padding: 10px 30px;
    }
    main section.brno-cafes div.cards {
    margin-top: 20px;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    text-align: start;
}
    footer {
        padding: 10px 0;
    }
    footer h3 {
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 5px;
    }
    footer h3, footer ul, footer p {
        font-size: 10px;
    }
    footer ul {
        line-height: 15px;
    }
    footer li {
        margin-bottom: 0;
    }
}